@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  @apply m-0 p-0 box-border ;
}

html, body, #root {
  @apply h-full w-full overflow-hidden;
}

/* Layout for main container */
main {
  @apply flex w-full gap-4 p-4 rounded-lg;
  height: calc(100vh - 64px);
  overflow: hidden;
}


.app-container {
  @apply flex flex-col h-screen w-screen;
  overflow: hidden;
}


header {
  @apply w-full flex justify-center items-center text-3xl font-bold pt-4 px-10 pb-4 rounded-lg select-none;
  height: 70px;
  flex-shrink: 0;
  /* background: linear-gradient(to right, #2563eb); */
}



main .left, main .right {
  @apply h-full rounded-lg ;
  flex-basis: 50%;
}


/* Left section */

main .left {
  @apply w-6/12 h-full bg-black relative bg-[#343434]  flex flex-col gap-4 p-4 select-none pt-4 ;
}


.left .code
  {
  @apply h-full w-full m-0 rounded-lg overflow-y-auto;
  background-color: #0c0c0c ; 
}

.left .code pre{
    @apply h-full h-full w-full m-0 rounded-lg;
     background-color: #0c0c0c ; 
}


.left .code pre code{
    @apply h-full h-full w-full m-0 rounded-lg;
     background-color: #0c0c0c ; 
}

main .left .review {
  @apply absolute top-4 right-4 text-black px-8 py-2 font-medium cursor-pointer select-none rounded-lg;
  background-color: rgb(117, 202, 230); 
}


/* Right section */
main .right {
  @apply bg-[#343434] p-4 text-base overflow-auto;
}

main .right pre {
  @apply text-white p-4 rounded-lg mb-4 font-mono text-sm whitespace-pre-wrap overflow-x-auto;
  background-color: #25292a; 
}

main .right code {
  @apply text-white font-mono;
}



/* Header section */
.left-header {
  @apply flex items-center gap-4;
}
.left-header h2 {
  @apply text-2xl m-0;
}

.file-input {
  @apply text-sm text-gray-400 cursor-pointer bg-gray-700  p-2 rounded-lg select-none;
}


.loading-indicator {
  @apply flex items-center justify-center h-full text-white text-xl animate-pulse;
}
